body {
  background: #3a6186; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #89253e,
    #3a6186
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #89253e,
    #3a6186
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  font-family: "Merienda", cursive;
}

.container {
  position: relative;
  display: flex;

  flex-direction: column;
  align-content: center;
  align-items: center;

  z-index: 3;
  overflow: hidden;
}
.timeWrpBg {
  box-shadow: 15px -8px 26px 12px #111919 inset,
    -12px -11px 58px -8px #0e0d13 inset;
  height: 600px;
  width: 600px;
  border-radius: 50%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  background: #0f2027;
  background: -webkit-linear-gradient(to right, #2c5364, #203a43, #0f2027);
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
}
.timeWrp {
  transition: 1s;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 60px;
  margin-top: 94px;
}
.perc {
  width: 500px;
}
.line {
  width: 100%;
  border-bottom: 1px solid blue;
}

.text {
  margin: 0;
  color: pink;
  font-size: 100px;
  line-height: 100px;
  font-family: "Merienda", cursive;
  font-weight: 900;
}

.settingsBtn {
  background: none;
  border: none;
  margin-top: 40px;
  margin-bottom: 20px;
}

.settingsWrp {
  display: flex;
  align-items: center;
  padding: 25px 100px;
  transition: 1s;
  overflow: hidden;
  width: min-content;
}
.hidden {
  transition: 1s;
}

.buttonsWrp {
  display: flex;
  flex-direction: column;
}

.timerBtn {
  margin-right: 11px;
  color: pink;
  font-size: 23px;
  background: none;
  border: none;
  transition: 0.7s;
  font-family: "Merienda", cursive;
}

.timerBtn:hover,
.timerBtn:focus {
  transform: scale(1.2);
  animation: pulse 1s;
  box-shadow: 0 0 0 2em transparent;
}

@keyframes pulse {
  0% {
    background: #643865b8;
    box-shadow: 0 0 0 0 #643865b8;
  }
}

.btnText {
  margin: 5px 12px;
  text-transform: uppercase;
}

.progressBar {
  position: absolute;
  width: 557px;
  z-index: 2;
  transition: 10s;
}

.hButtonLeft {
  transform: translateX(-600%);
}
.hButtonRight {
  transform: translateX(+600%);
}
.CircularProgressbar .CircularProgressbar-trail {
  stroke: none;
}
